@model List<ProjectSensive.EntityLayer.Concrete.Article>

<div class="col-lg-8">
    @foreach (var item in Model)
    {
        <div class="single-recent-blog-post mb-4">
            <div class="thumb">
                <img class="img-fluid" src="@item.CoverImageUrl" alt="@item.Title" />
                <ul class="thumb-info">
                    <li><a href="#"><i class="ti-user"></i>@item.AppUser.Name</a></li>
                    <li><a href="#"><i class="ti-notepad"></i>@item.CreatedDate.ToString("MMMM dd, yyyy")</a></li>
                    <li><a href="#"><i class="ti-themify-favicon"></i> @item.Comments?.Count() Comments</a></li>
                </ul>
            </div>
            <div class="details mt-20">
                <a href="#"><h3>@item.Title</h3></a>
                <p class="tag-list-inline">@item.Category?.CategoryName</p>
                <p>
                    @{
                        var shortDesc = item.Description?.Length > 120
                        ? item.Description.Substring(0, 120) + "..."
                        : item.Description;
                    }
                    @shortDesc
                </p>
                <a class="button" asp-controller="Article" asp-action="Detail" asp-route-id="@item.ArticleID">Read More</a>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-12">
            <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                    <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" href="?page=@(ViewBag.CurrentPage - 1)">
                            <i class="ti-angle-left"></i>
                        </a>
                    </li>

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }

                    <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="?page=@(ViewBag.CurrentPage + 1)">
                            <i class="ti-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
